[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/juice-contracts-v3"]
	path = lib/juice-contracts-v3
	url = https://github.com/jbx-protocol/juice-contracts-v3
[submodule "lib/juice-buyback"]
	path = lib/juice-buyback
	url = https://github.com/jbx-protocol/juice-buyback
[submodule "lib/juice-721-delegate"]
	path = lib/juice-721-delegate
	url = https://github.com/jbx-protocol/juice-721-delegate
