[submodule "lib/juice-contracts-v4"]
	path = lib/juice-contracts-v4
	url = https://github.com/Bananapus/juice-contracts-v4
[submodule "lib/juice-buyback"]
	path = lib/juice-buyback
	url = https://github.com/Bananapus/juice-buyback
	branch = language-updates
[submodule "lib/juice-721-hook"]
	path = lib/juice-721-hook
	url = https://github.com/Bananapus/juice-721-hook
	branch = language-updates

